<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand fonteLogo" href="/">Ferro-Tech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav fonteMenu">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cadastrar
              </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item bg-dark text-white" href="cadastroCompraMateriais">Compras</a>
                  <a class="dropdown-item bg-dark text-white" href="cadastroVendaMateriais">Vendas</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Lista de Materiais</a>
          </li>
      </ul>
  </div>
  <i class="fonteBotao" type="submit" data-toggle="modal" data-target="#loginCadastro">Cadastrar/Login</i>
</nav>