<%- include('partials/head') %>
<%- include('partials/navbar') %>

<title>Acesso Negado !</title>

<div class="text-center pt-5" >

  <h1>Acesso Negado!</h1>
  <p>você não tem acesso a essa página</p>
  <img src="imgs/sad.png" width="400" height="379">
</div>



