<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="container">
    <div class="row center">
        <h4>Cadastro de Evento</h4>
        
    </div>
    <div class="row">
        <form action="/cadastro" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="titulo" name="title" type="text" class="validate">
                    <label for="titulo">Titulo</label>
                </div>
                <div class="input-field col s6">
                    <input id="preco" name="price" type="number" class="validate" min="0">
                    <label for="preco">Preço</label>
                </div>
                <div class="input-field col s6">
                    <select name="rating">
                        <option class="disable" disabled>Classificação Indicativa</option>
                        <option value="0">Livre</option>
                        <option value="10">+10</option>
                        <option value="12">+12</option>
                        <option value="14">+14</option>
                        <option value="16">+16</option>
                        <option value="18">+18</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <select name="category">
                        <option class="disable" disabled>Categoria</option>
                        <option value="Cultural">Cultural</option>
                        <option value="Beneficente">Beneficente</option>
                        <option value="Show">Show</option>
                        <option value="Esportes">Esporte</option>
                        <option value="Palestra">Palestra</option>
                        <option value="Comunitarios">Comunitario</option>
                    </select>
                </div>
                <div class="input-field col s12">
                    <label for="descricao">Descrição</label>
                    <textarea id="descricao" name="description" class="materialize-textarea"></textarea>
                </div>
                <div class="input-field col s12 center">
                    <button type="submit" class="btn blue">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('partials/footer') %>

