<%- include('partials/head') %> <%- include('partials/navbar') %>
<div class="divCol1">
  <div class="row mb-5">
    <div class="col-sm">
      <div class="card" style="min-height: 100%;">
        <img src="imgs/gif_manager.gif" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            Vantagens de utilizar um software de gestão
          </h5>
            <ul>
              <li>Controle do fluxo de caixa da empresa</li>
              <li>Gestão financeira completa e organizada</li>
              <li>Controle de estoque confiável</li>
              <li>Redução de erros manuais e humanos</li>
              <li>Otimização de processos, aumentando a produtividade</li>
            </ul>          
        </div>
      </div>
    </div>


    <div class="col-sm">
        <div class="card" style="min-height: 100%;">
          <img src="imgs/gif_manager2.gif" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Cadastrar Compras</h5>
            <p class="card-text text-justify">
              Aqui você pode cadastrar as compras que deseja fazer, de modo
              rápido e ágil. Com isso você se poupa de todo aquela burocracia de
              preechimento de documentos, e o deslocamento até o vendedor.
            </p>
          </div>
        </div>
    </div>

    <%if(login != null){%>
    <div class="col">
      <div class="card" style="min-height: 100%;" id="listMateriais">
        <ul class="list-group list-group-flush">
          <div class="card-header">Meus Materiais</div>

          <div>
            <% materiais.forEach(material => {%>
              <%if(material.usuario_material == login){%>
            <li class="list-group-item"><%- material.nome_material %></li>
            <%}%>
            <% });%>
          </div>
        </ul>
      </div>
    </div>
  <%}else{}%>
  </div>
</div>
<!-- Modal login/cadastro-->

<%- include('partials/footer') %>
