.fonteBotao {
    font-family: Arial;
    color: white;
    background-color: #FF6F00;
    font-style: unset;
    padding: 6px;
    border-radius: 8px; 
}

.btn-outline-primary-login {
    color: #FF6F00;
    background-color:transparent;
    background-image:none;
    border-color: #FF6F00
}

.btn-outline-primary:hover {
    color: white;
    background-color:#FF6F00;
    border-color: #FF6F00
}

.botaoVerMais {
    margin-top: -1%;
    margin-bottom: 3%;
    display: flex;
    float: right;
}

.botoesCadastro{
    margin-top: 2.8%;
    margin-left: 40px;
}

.fonteLogo {
    font-size: 30px !important;
}

.fonteMenu {
    font-size: 19px !important;
    margin-top: 9px !important;
}

.divCol1 {
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
}

.card1 {
    max-width: 400px;
    max-height: relative;
}

.card2 {
    margin-top: 3%;
    margin-bottom: 4%;
    max-height: relative;
}

.card3 {
    margin-top: 3%;
    margin-bottom: 4%;
    max-height: relative;
}

.card4 {
    margin-left: 2% !important;
    height: 90.5%;
}

.tamanhoCamposCadastroMateriais {
    width: 180px;
}

#car{
    width: auto;
    height:250px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}
#car::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
#car::-webkit-scrollbar {
    width: 6px;
    background: orange;
    border-radius: 5px;
}
#car::-webkit-scrollbar-thumb {
    background: orange;
}

#listMateriais{
    width: auto;
    height:569px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}
#listMateriais::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
#listMateriais::-webkit-scrollbar {
    width: 6px;
    background: orange;
    border-radius: 5px;
}
#listMateriais::-webkit-scrollbar-thumb {
    background: orange;
}
